services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.6@sha256:d0d4037f17521a7f06137afd5a0eecb1f977f4ade773ae7755f1ee82cad8a576
    volumes:
      - ${PWD}/src/theme:/opt/keycloak/themes
      - ${PWD}/realms:/opt/keycloak/data/import:ro
    command:
      - start-dev
      - --import-realm
      - --spi-theme-static-max-age=-1
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false
    ports:
      - 8080:8080
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=dev_only
      - KC_LOG_LEVEL=info,at.worlddirect:trace
