services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5@sha256:653852bfdea2be6e958b9e90a976eff1c6de34edd55f2f679bdc48ef16bc528e
    volumes:
      - ${PWD}/src/theme:/opt/keycloak/themes
      - ${PWD}/realms:/opt/keycloak/data/import:ro
    command:
      - start-dev
      - --import-realm
      - --spi-theme-static-max-age=-1
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false
    ports:
      - 8080:8080
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=dev_only
      - KC_LOG_LEVEL=info,at.worlddirect:trace
