#wd-legal-area {
    font-size: var(--pf-v5-global--FontSize--xs);
    font-family: RedHatText;
    font-weight: 400;
    line-height: 1.5;
}

#kc-header-wrapper {
    color: black;
}

#kc-header {
    text-align: center;
}

#kc-header::before {
    display: inline-block;
    height: 105px;
    width: 270px;
    background-image: url('../img/HEX WD_Claim.158470c3125b91dc9edf.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
}

#kc-login {
    background-color: #0088ce;
    background-image: none;
    border-color: #00659c;
    color: #fff;
    cursor: pointer;
}

.displayNone {
    display: none;
}

.login-pf body {
    background: white none;
}

#kc-social-providers {
    margin-top: 1rem;
}

/* .kc-social-item */
#social-adfs {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    /* vertical-align: middle;
    align-items: center; */
}

#social-adfs > div {
    width: 100%;
    height: 3rem;
}

#social-adfs > div > div {
    display: inline-flex;
    align-items: center;
}

.kc-social-item > div > div > svg {
    height: 3rem;
}

.kc-social-provider-name {
    vertical-align: middle;
    cursor: pointer;
}

#kc-form-buttons {
    margin-top: unset;
}

div.pf-v5-c-login__main-body {
    padding-bottom: 0;
}

.pf-v5-c-login {
    align-items: unset;
}

.pf-v5-c-login__main-header {
    padding-bottom: 0;
}

.pf-v5-c-login__main-footer {
    padding-bottom: 1rem;
}

::-ms-reveal {
    display: none;
}

@media screen and (max-width: 767px) {
    #kc-header-wrapper {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .pf-v5-c-login__container {
        height: 12rem;
    }
}