name: ci
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
      - "v*.*.*-alpha*"
      - "v*.*.*-beta*"
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: ./src

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.head_commit.author.name != 'actions'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Create version.txt
        run: |
          commit=$(git rev-parse --short HEAD)
          if tag=$(git describe --tags --abbrev=0 2>/dev/null); then
              printf "Tag: %s\nCommit: %s\n" "$tag" "$commit" > META-INF/version.txt
          else
              printf "Tag: none\nCommit: %s\n" "$commit" > META-INF/version.txt
          fi
      - name: Create two versions out of base theme
        run: |
          cp -r theme/keycloak-theme-world-direct-base theme/keycloak-theme-world-direct-without-forms-login
          sed -i '/kcFormAdditionalClass=/c\kcFormAdditionalClass=displayNone' ./theme/keycloak-theme-world-direct-without-forms-login/login/theme.properties

          mv theme/keycloak-theme-world-direct-base theme/keycloak-theme-world-direct
          sed -i '/kcFormAdditionalClass/d' theme/keycloak-theme-world-direct/login/theme.properties
      - name: Create jar artifact
        run: |
          zip -r keycloak-theme-world-direct.jar *
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: keycloak-theme-world-direct.jar
          path: src/keycloak-theme-world-direct.jar
      - name: Create Release when we a tag ref has been created
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            src/keycloak-theme-world-direct.jar
